In [1]:
import numpy as np
import pandas as pd
from scipy import stats

In [3]:
df=pd.read_csv('/home/kirti/Data_sets/grades.csv')
df.head()

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000

In [4]:
print('There are {} rows and {} columns'.format(df.shape[0],df.shape[1]))

There are 2315 rows and 13 columns

In [5]:
early_finishers=df[pd.to_datetime(df['assignment1_submission'])<'2016']
early_finishers

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
0,B73F2C11-70F0-E37D-8B10-1D20AFED50B1,92.733946,2015-11-02 06:55:34.282000000,83.030552,2015-11-09 02:22:58.938000000,67.164441,2015-11-12 08:58:33.998000000,53.011553,2015-11-16 01:21:24.663000000,47.710398,2015-11-20 13:24:59.692000000,38.168318,2015-11-22 18:31:15.934000000
1,98A0FAE0-A19A-13D2-4BB5-CFBFD94031D1,86.790821,2015-11-29 14:57:44.429000000,86.290821,2015-12-06 17:41:18.449000000,69.772657,2015-12-10 08:54:55.904000000,55.098125,2015-12-13 17:32:30.941000000,49.588313,2015-12-19 23:26:39.285000000,44.629482,2015-12-21 17:07:24.275000000
4,5ECBEEB6-F1CE-80AE-3164-E45E99473FB4,64.813800,2015-12-13 17:06:10.750000000,51.491040,2015-12-14 12:25:12.056000000,41.932832,2015-12-29 14:25:22.594000000,36.929549,2015-12-28 01:29:55.901000000,33.236594,2015-12-29 14:46:06.628000000,33.236594,2016-01-05 01:06:59.546000000
5,D09000A0-827B-C0FF-3433-BF8FF286E15B,71.647278,2015-12-28 04:35:32.836000000,64.052550,2016-01-03 21:05:38.392000000,64.752550,2016-01-07 08:55:43.692000000,57.467295,2016-01-11 00:45:28.706000000,57.467295,2016-01-11 00:54:13.579000000,57.467295,2016-01-20 19:54:46.166000000
8,C9D51293-BD58-F113-4167-A7C0BAFCB6E5,66.595568,2015-12-25 02:29:28.415000000,52.916454,2015-12-31 01:42:30.046000000,48.344809,2016-01-05 23:34:02.180000000,47.444809,2016-01-02 07:48:42.517000000,37.955847,2016-01-03 21:27:04.266000000,37.955847,2016-01-19 15:24:31.060000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2308,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,71.481182,2015-10-03 09:04:46.358000000,70.981182,2015-10-06 03:57:28.420000000,64.603064,2015-10-12 07:58:25.081000000,63.703064,2015-10-17 07:59:49.005000000,50.962451,2015-10-18 02:29:34.374000000,45.866206,2015-10-27 00:21:47.208000000
2309,6D2AB78F-44F4-2E8B-5C5E-B79119BC7EAC,82.640274,2015-10-01 23:25:20.529000000,65.752219,2015-10-05 02:06:11.522000000,53.341775,2015-10-22 23:58:36.426000000,47.197598,2015-10-16 12:32:56.809000000,47.197598,2015-10-24 12:16:54.993000000,37.758078,2015-10-26 10:34:41.293000000
2311,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,75.367870,2015-11-29 02:43:27.932000000,59.934296,2015-12-03 05:30:39.218000000,48.687437,2015-12-09 15:56:44.895000000,43.008693,2015-12-13 06:18:01.342000000,38.707824,2015-12-20 02:39:39.248000000,38.707824,2015-12-22 13:34:42.931000000
2312,EFDA9F93-D0C3-864F-B0F6-2E9AA3E05E31,73.269463,2015-10-20 08:09:27.418000000,58.255570,2015-11-18 19:07:06.930000000,58.955570,2015-12-10 08:54:54.871000000,52.250013,2015-11-23 19:40:00.434000000,41.800010,2015-11-29 14:23:43.659000000,41.800010,2015-12-04 09:56:07.156000000
2314,DDE0526B-7DA4-80E8-C2A6-D097F3826029,80.318105,2015-10-04 09:46:03.403000000,79.818105,2015-10-06 10:28:30.820000000,64.594484,2015-10-13 17:06:29.179000000,50.955587,2015-10-06 16:18:35.513000000,40.764470,2015-10-23 17:03:26.939000000,40.764470,2015-10-26 15:56:55.460000000

In [7]:
late_finishers=df[pd.to_datetime(df['assignment1_submission'])>='2016']

NameError: name 'late_finsiehrs' is not defined

In [10]:
late_finishers=df[~df.index.isin(early_finishers.index)]
late_finishers

,student_id,assignment1_grade,assignment1_submission,assignment2_grade,assignment2_submission,assignment3_grade,assignment3_submission,assignment4_grade,assignment4_submission,assignment5_grade,assignment5_submission,assignment6_grade,assignment6_submission
2,D0F62040-CEB0-904C-F563-2F8620916C4E,85.512541,2016-01-09 05:36:02.389000000,85.512541,2016-01-09 06:39:44.416000000,68.410033,2016-01-15 20:22:45.882000000,54.728026,2016-01-11 12:41:50.749000000,49.255224,2016-01-11 17:31:12.489000000,44.329701,2016-01-17 16:24:42.765000000
3,FFDF2B2C-F514-EF7F-6538-A6A53518E9DC,86.030665,2016-04-30 06:50:39.801000000,68.824532,2016-04-30 17:20:38.727000000,61.942079,2016-05-12 07:47:16.326000000,49.553663,2016-05-07 16:09:20.485000000,49.553663,2016-05-24 12:51:18.016000000,44.598297,2016-05-26 08:09:12.058000000
6,3217BE3F-E4B0-C3B6-9F64-462456819CE4,87.498744,2016-03-05 11:05:25.408000000,69.998995,2016-03-09 07:29:52.405000000,55.999196,2016-03-16 22:31:24.316000000,50.399276,2016-03-18 07:19:26.032000000,45.359349,2016-03-19 10:35:41.869000000,45.359349,2016-03-23 14:02:00.987000000
7,F1CB5AA1-B3DE-5460-FAFF-BE951FD38B5F,80.576090,2016-01-24 18:24:25.619000000,72.518481,2016-01-27 13:37:12.943000000,65.266633,2016-01-30 14:34:36.581000000,65.266633,2016-02-03 22:08:49.002000000,65.266633,2016-02-16 14:22:23.664000000,65.266633,2016-02-18 08:35:04.796000000
9,E2C617C2-4654-622C-AB50-1550C4BE42A0,59.270882,2016-03-06 12:06:26.185000000,59.270882,2016-03-13 02:07:25.289000000,53.343794,2016-03-17 07:30:09.241000000,53.343794,2016-03-20 21:45:56.229000000,42.675035,2016-03-27 15:55:04.414000000,38.407532,2016-03-30 20:33:13.554000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,DDE0526B-7DA4-80E8-C2A6-D097F3826029,97.215052,2016-01-23 09:19:40.494000000,77.772041,2016-01-26 08:38:13.085000000,69.994837,2016-01-29 15:04:34.705000000,62.995353,2016-02-06 12:51:00.647000000,50.396283,2016-02-11 15:44:08.113000000,50.396283,2016-02-14 09:03:33.466000000
2306,DDE0526B-7DA4-80E8-C2A6-D097F3826029,47.696703,2016-06-22 20:21:58.182000000,38.157363,2016-06-23 18:22:45.622000000,38.157363,2016-07-02 22:18:59.529000000,30.525890,2016-06-28 22:05:38.100000000,30.525890,2016-07-09 20:08:14.734000000,30.525890,2016-07-17 15:17:58.502000000
2307,1F51E050-78F7-F270-1B90-ED1BC0376763,94.595758,2016-01-20 23:22:16.592000000,85.136182,2016-01-27 22:30:29.914000000,76.622564,2016-01-31 15:39:45.088000000,68.960307,2016-02-06 21:43:05.836000000,62.064277,2016-02-14 18:52:48.594000000,49.651421,2016-02-19 20:36:16.121000000
2310,DE88902E-C7A7-E37A-CFA7-F2C8F2D219F2,77.684611,2016-03-07 02:52:24.378000000,69.916150,2016-03-11 22:02:39.161000000,69.916150,2016-03-17 07:30:09.261000000,69.916150,2016-03-18 18:01:24.525000000,55.932920,2016-03-20 06:38:12.120000000,50.339628,2016-03-25 11:00:06.923000000
2313,1F51E050-78F7-F270-1B90-ED1BC0376763,87.268366,2016-04-03 09:04:51.646000000,87.268366,2016-04-08 19:24:29.095000000,87.268366,2016-04-12 05:43:33.853000000,69.814693,2016-04-14 10:43:58.104000000,55.851754,2016-04-19 05:37:19.322000000,55.851754,2016-04-23 03:44:06.813000000

In [12]:
print(early_finishers['assignment1_grade'].mean())
print(late_finishers['assignment1_grade'].mean())

74.94728457024303
74.0450648477065

In [13]:
from scipy.stats import ttest_ind
ttest_ind(early_finishers['assignment1_grade'],late_finishers['assignment1_grade'])

Ttest_indResult(statistic=1.322354085372139, pvalue=0.1861810110171455)

In [14]:
print(ttest_ind(early_finishers['assignment2_grade'], late_finishers['assignment2_grade']))
print(ttest_ind(early_finishers['assignment3_grade'], late_finishers['assignment3_grade']))
print(ttest_ind(early_finishers['assignment4_grade'], late_finishers['assignment4_grade']))
print(ttest_ind(early_finishers['assignment5_grade'], late_finishers['assignment5_grade']))
print(ttest_ind(early_finishers['assignment6_grade'], late_finishers['assignment6_grade']))

Ttest_indResult(statistic=1.2514717608216366, pvalue=0.2108889627004424)
Ttest_indResult(statistic=1.6133726558705392, pvalue=0.10679998102227865)
Ttest_indResult(statistic=0.049671157386456125, pvalue=0.960388729789337)
Ttest_indResult(statistic=-0.05279315545404755, pvalue=0.9579012739746492)
Ttest_indResult(statistic=-0.11609743352612056, pvalue=0.9075854011989656)

In [19]:
df1=pd.DataFrame([np.random.random(100) for x in range(100)])

In [20]:
df2=pd.DataFrame([np.random.random(100) for x in range(100)])

In [24]:
def test_columns(alpha=0.1):
    num_diff=0
    for col in df1.columns:
        ttest,pval=ttest_ind(df1[col],df2[col])
        if pval<=alpha:
            print('Col {} is statistically different at alpha {}, pval {}'.format(col,alpha,pval))
            num_diff+=1
    print("Total number different was {}, which is {}%".format(num_diff,float(num_diff)/len(df1.columns)*100))
    
test_columns()

Col 12 is statistically different at alpha 0.1, pval 0.025485506180895075
Col 20 is statistically different at alpha 0.1, pval 0.06777628260231501
Col 28 is statistically different at alpha 0.1, pval 0.02828568030213121
Col 52 is statistically different at alpha 0.1, pval 0.057914839071061874
Col 54 is statistically different at alpha 0.1, pval 0.05662183401108844
Col 57 is statistically different at alpha 0.1, pval 0.07281487166855799
Col 58 is statistically different at alpha 0.1, pval 0.051802101454414794
Col 70 is statistically different at alpha 0.1, pval 0.06379323598755349
Col 75 is statistically different at alpha 0.1, pval 0.023668110191312687
Col 78 is statistically different at alpha 0.1, pval 0.005756366391126587
Col 82 is statistically different at alpha 0.1, pval 0.08999671581345646
Col 85 is statistically different at alpha 0.1, pval 0.005985141047625225
Col 95 is statistically different at alpha 0.1, pval 0.039546072818449414
Total number different was 13, which is 13.0%

In [25]:
# Interesting, so we see that there are a bunch of columns that are different! In fact, that number looks a
# lot like the alpha value we chose. So what's going on - shouldn't all of the columns be the same? Remember
# that all the ttest does is check if two sets are similar given some level of confidence, in our case, 10%.
# The more random comparisons you do, the more will just happen to be the same by chance. In this example, we
# checked 100 columns, so we would expect there to be roughly 10 of them if our alpha was 0.1.

# We can test some other alpha values as well
test_columns(0.7)

Col 0 is statistically different at alpha 0.7, pval 0.4050204981975545
Col 2 is statistically different at alpha 0.7, pval 0.3232456426642004
Col 3 is statistically different at alpha 0.7, pval 0.1675880485399354
Col 4 is statistically different at alpha 0.7, pval 0.256386398740765
Col 9 is statistically different at alpha 0.7, pval 0.6536841159553692
Col 10 is statistically different at alpha 0.7, pval 0.2946943163842277
Col 12 is statistically different at alpha 0.7, pval 0.025485506180895075
Col 13 is statistically different at alpha 0.7, pval 0.4666057755132118
Col 14 is statistically different at alpha 0.7, pval 0.373314184029799
Col 15 is statistically different at alpha 0.7, pval 0.5966202522130615
Col 16 is statistically different at alpha 0.7, pval 0.5216272204857679
Col 17 is statistically different at alpha 0.7, pval 0.4119062668366371
Col 19 is statistically different at alpha 0.7, pval 0.47950085410449583
Col 20 is statistically different at alpha 0.7, pval 0.06777628260231501
Col 21 is statistically different at alpha 0.7, pval 0.13416397563940607
Col 22 is statistically different at alpha 0.7, pval 0.16015332359356085
Col 23 is statistically different at alpha 0.7, pval 0.5347841425203158
Col 26 is statistically different at alpha 0.7, pval 0.6865672300384038
Col 28 is statistically different at alpha 0.7, pval 0.02828568030213121
Col 32 is statistically different at alpha 0.7, pval 0.16425724111362802
Col 33 is statistically different at alpha 0.7, pval 0.19609492672454545
Col 34 is statistically different at alpha 0.7, pval 0.40585603502860634
Col 37 is statistically different at alpha 0.7, pval 0.36325070975679163
Col 38 is statistically different at alpha 0.7, pval 0.5429545330480862
Col 39 is statistically different at alpha 0.7, pval 0.6422166279117367
Col 42 is statistically different at alpha 0.7, pval 0.6060956429729165
Col 45 is statistically different at alpha 0.7, pval 0.12029516819969334
Col 50 is statistically different at alpha 0.7, pval 0.4030792966711171
Col 52 is statistically different at alpha 0.7, pval 0.057914839071061874
Col 53 is statistically different at alpha 0.7, pval 0.671082275150851
Col 54 is statistically different at alpha 0.7, pval 0.05662183401108844
Col 55 is statistically different at alpha 0.7, pval 0.5614509181531535
Col 57 is statistically different at alpha 0.7, pval 0.07281487166855799
Col 58 is statistically different at alpha 0.7, pval 0.051802101454414794
Col 60 is statistically different at alpha 0.7, pval 0.12302383978102072
Col 62 is statistically different at alpha 0.7, pval 0.5661204856029707
Col 63 is statistically different at alpha 0.7, pval 0.21035599900737376
Col 64 is statistically different at alpha 0.7, pval 0.37908583300275367
Col 65 is statistically different at alpha 0.7, pval 0.14219263381791486
Col 66 is statistically different at alpha 0.7, pval 0.6241974678287502
Col 67 is statistically different at alpha 0.7, pval 0.6577719898916232
Col 68 is statistically different at alpha 0.7, pval 0.1419829898679514
Col 69 is statistically different at alpha 0.7, pval 0.4676625516257146
Col 70 is statistically different at alpha 0.7, pval 0.06379323598755349
Col 71 is statistically different at alpha 0.7, pval 0.6919425944512476
Col 72 is statistically different at alpha 0.7, pval 0.28484460461704664
Col 75 is statistically different at alpha 0.7, pval 0.023668110191312687
Col 77 is statistically different at alpha 0.7, pval 0.31263418162194784
Col 78 is statistically different at alpha 0.7, pval 0.005756366391126587
Col 80 is statistically different at alpha 0.7, pval 0.3866697821616897
Col 81 is statistically different at alpha 0.7, pval 0.24622763526390382
Col 82 is statistically different at alpha 0.7, pval 0.08999671581345646
Col 83 is statistically different at alpha 0.7, pval 0.51459705753305
Col 84 is statistically different at alpha 0.7, pval 0.34313056702414435
Col 85 is statistically different at alpha 0.7, pval 0.005985141047625225
Col 86 is statistically different at alpha 0.7, pval 0.1659236639855468
Col 90 is statistically different at alpha 0.7, pval 0.6246058542853132
Col 92 is statistically different at alpha 0.7, pval 0.21604196164932002
Col 93 is statistically different at alpha 0.7, pval 0.40676073888027486
Col 94 is statistically different at alpha 0.7, pval 0.1374474856117121
Col 95 is statistically different at alpha 0.7, pval 0.039546072818449414
Col 96 is statistically different at alpha 0.7, pval 0.5214878899421421
Col 98 is statistically different at alpha 0.7, pval 0.6801727952635458
Total number different was 63, which is 63.0%

In [28]:
df2=pd.DataFrame([np.random.chisquare(df=1,size=100) for x in range(100)])
test_columns()

Col 0 is statistically different at alpha 0.1, pval 3.658762934062781e-05
Col 1 is statistically different at alpha 0.1, pval 0.004036696761845331
Col 2 is statistically different at alpha 0.1, pval 0.0004233984278366144
Col 3 is statistically different at alpha 0.1, pval 3.1339215826629976e-06
Col 4 is statistically different at alpha 0.1, pval 1.2640099596710759e-05
Col 5 is statistically different at alpha 0.1, pval 2.7272384053456155e-06
Col 6 is statistically different at alpha 0.1, pval 0.0014070834472177348
Col 7 is statistically different at alpha 0.1, pval 0.013394972442455159
Col 8 is statistically different at alpha 0.1, pval 0.008470021964743824
Col 9 is statistically different at alpha 0.1, pval 4.673493632304014e-05
Col 10 is statistically different at alpha 0.1, pval 2.166511212797077e-06
Col 11 is statistically different at alpha 0.1, pval 0.00019155231639721664
Col 12 is statistically different at alpha 0.1, pval 0.0006164388277441779
Col 13 is statistically different at alpha 0.1, pval 0.0004948040062403405
Col 14 is statistically different at alpha 0.1, pval 0.0026053464374391137
Col 15 is statistically different at alpha 0.1, pval 7.240557378486586e-05
Col 16 is statistically different at alpha 0.1, pval 6.80349934053863e-05
Col 17 is statistically different at alpha 0.1, pval 0.00016148404529332789
Col 18 is statistically different at alpha 0.1, pval 0.03496004426636382
Col 19 is statistically different at alpha 0.1, pval 1.9765052267914084e-07
Col 20 is statistically different at alpha 0.1, pval 0.02123072219685757
Col 21 is statistically different at alpha 0.1, pval 0.0002740134165814299
Col 22 is statistically different at alpha 0.1, pval 0.008793862916035029
Col 23 is statistically different at alpha 0.1, pval 0.00015564837775105172
Col 24 is statistically different at alpha 0.1, pval 8.154381010371662e-06
Col 25 is statistically different at alpha 0.1, pval 0.009138120984848437
Col 26 is statistically different at alpha 0.1, pval 5.830907613586081e-05
Col 27 is statistically different at alpha 0.1, pval 0.0037446092677840027
Col 28 is statistically different at alpha 0.1, pval 0.03387298692122345
Col 29 is statistically different at alpha 0.1, pval 0.00620990506347314
Col 30 is statistically different at alpha 0.1, pval 0.0002413955329245026
Col 31 is statistically different at alpha 0.1, pval 0.007869739049756573
Col 32 is statistically different at alpha 0.1, pval 1.3021931737494631e-06
Col 33 is statistically different at alpha 0.1, pval 0.013200106050168036
Col 34 is statistically different at alpha 0.1, pval 0.0006802482153953225
Col 35 is statistically different at alpha 0.1, pval 0.001347507677213111
Col 36 is statistically different at alpha 0.1, pval 7.57218444956947e-05
Col 37 is statistically different at alpha 0.1, pval 0.0002546430637925074
Col 38 is statistically different at alpha 0.1, pval 0.0017359573050710257
Col 39 is statistically different at alpha 0.1, pval 0.00010125977839807432
Col 40 is statistically different at alpha 0.1, pval 0.00042689959154992
Col 41 is statistically different at alpha 0.1, pval 0.03644857062207797
Col 42 is statistically different at alpha 0.1, pval 0.011430980377837999
Col 43 is statistically different at alpha 0.1, pval 0.00016700547877095131
Col 44 is statistically different at alpha 0.1, pval 8.369347212683414e-06
Col 45 is statistically different at alpha 0.1, pval 0.0016458557740832009
Col 46 is statistically different at alpha 0.1, pval 0.00017445709076643372
Col 47 is statistically different at alpha 0.1, pval 0.00013806010633661542
Col 48 is statistically different at alpha 0.1, pval 0.00043983884870398406
Col 49 is statistically different at alpha 0.1, pval 4.3572660284083815e-06
Col 50 is statistically different at alpha 0.1, pval 0.00030474167638873373
Col 51 is statistically different at alpha 0.1, pval 0.00018855131327720416
Col 52 is statistically different at alpha 0.1, pval 2.842465633544649e-05
Col 53 is statistically different at alpha 0.1, pval 6.417159854766702e-06
Col 54 is statistically different at alpha 0.1, pval 0.00012724698439237005
Col 55 is statistically different at alpha 0.1, pval 0.0002485275186433441
Col 56 is statistically different at alpha 0.1, pval 1.083468491181259e-05
Col 57 is statistically different at alpha 0.1, pval 0.018362942720992547
Col 58 is statistically different at alpha 0.1, pval 0.03512395636094785
Col 59 is statistically different at alpha 0.1, pval 0.0022777869672756983
Col 60 is statistically different at alpha 0.1, pval 0.0005818750212752543
Col 61 is statistically different at alpha 0.1, pval 0.0011624629735908596
Col 62 is statistically different at alpha 0.1, pval 0.0009930530576359796
Col 63 is statistically different at alpha 0.1, pval 0.0006867999757890215
Col 64 is statistically different at alpha 0.1, pval 5.058386735307587e-05
Col 65 is statistically different at alpha 0.1, pval 0.013590502680540406
Col 66 is statistically different at alpha 0.1, pval 0.00036070926155869914
Col 67 is statistically different at alpha 0.1, pval 0.002429586222408744
Col 68 is statistically different at alpha 0.1, pval 2.244711728469871e-05
Col 69 is statistically different at alpha 0.1, pval 0.0011482258399911555
Col 71 is statistically different at alpha 0.1, pval 1.1487288558447082e-05
Col 72 is statistically different at alpha 0.1, pval 0.0004676913550416262
Col 73 is statistically different at alpha 0.1, pval 0.00040940664364557175
Col 74 is statistically different at alpha 0.1, pval 0.0008328919300790959
Col 75 is statistically different at alpha 0.1, pval 1.188527261879188e-05
Col 76 is statistically different at alpha 0.1, pval 0.0004951075383436402
Col 77 is statistically different at alpha 0.1, pval 0.0008749065487867539
Col 78 is statistically different at alpha 0.1, pval 0.0002186577981886249
Col 79 is statistically different at alpha 0.1, pval 6.874352328707802e-05
Col 80 is statistically different at alpha 0.1, pval 0.0018075235620074698
Col 81 is statistically different at alpha 0.1, pval 0.020806876087087093
Col 82 is statistically different at alpha 0.1, pval 0.002566837015387284
Col 83 is statistically different at alpha 0.1, pval 0.0001507337230552618
Col 84 is statistically different at alpha 0.1, pval 0.002283461601407471
Col 85 is statistically different at alpha 0.1, pval 0.00012707896051223274
Col 86 is statistically different at alpha 0.1, pval 0.00014969177608744808
Col 87 is statistically different at alpha 0.1, pval 0.00015400281462006314
Col 88 is statistically different at alpha 0.1, pval 0.00014311425461950174
Col 89 is statistically different at alpha 0.1, pval 0.00980572001883851
Col 90 is statistically different at alpha 0.1, pval 0.011172112171699531
Col 91 is statistically different at alpha 0.1, pval 0.0004218794461521873
Col 92 is statistically different at alpha 0.1, pval 0.0024888688549057143
Col 93 is statistically different at alpha 0.1, pval 4.646040826601035e-05
Col 94 is statistically different at alpha 0.1, pval 0.0009641775127723632
Col 95 is statistically different at alpha 0.1, pval 0.0015158362158451408
Col 96 is statistically different at alpha 0.1, pval 0.00045491435582575347
Col 97 is statistically different at alpha 0.1, pval 0.00032391527533478343
Col 98 is statistically different at alpha 0.1, pval 4.2682948488774144e-05
Col 99 is statistically different at alpha 0.1, pval 0.0005004514835608904
Total number different was 99, which is 99.0%